section {
    height: 100vh;
}

p, h2 {
    font-family: var(--font);
}

.projectsLink {
    text-decoration: none;
    color: #244980;
    font-weight: 700;
    font-size: 20px;
}
.projectsLink:hover {
    color: var(--blue);
}
.projectsLink:after {
    content: '';
    width: 80%;
    height: 1px;
    margin: -10px auto 20px auto;
    background-color: var(--yellow);
    display: block;
}
.flexSection {
    width: 80%;
    margin: 100px auto 100px 12%;
    background-color: var(--gray);
    height: 85%;
    border-radius: 10px;
    overflow-y: scroll;
}
@media (max-width: 400px) {
    .flexSection {
        width: 95% !important;
        margin: auto 1px;
        margin-left: 7.5px !important;
        margin-right: 0 !important;
    }
}
@media (max-width: 900px) {
    .flexSection {
        margin-left: 80px;
        width: 85%;
    }
}
@media (max-width: 600px) {
    .flexSection {
        margin-left: 35px;
    }
}

.flexHeaderProjects {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: var(--gray);
    width: 80%;
    border-top-left-radius: 10px;
}
.flexHeaderProjects img {
    margin: 20px 0 0 30px;
}
@media (max-width: 400px) {
    .flexHeaderProjects {
        width: 90%
    }
}
@media (max-width: 700px) {
    .flexHeaderProjects img {
        width: 85px;
        margin-top: 10px;
    }
}
.flexHeaderProjects h2 {
    margin-left: -100px;
}
@media (max-width: 400px) {
    .flexHeaderProjects h2 {
        margin-left: -60px;
    }
}
.wrapApps {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.app {
    flex: 30%;
}
@media (max-width: 400px) {
    .app {
        margin-left: -20px;
    }
    .app a {
        font-size: 18px;
    }
}
@media (max-width: 700px) {
    .app a p {
        font-size: 14.5px;
    }
}

.description {
    font-size: 14.5px;
    text-align: justify;
}
@media (max-width: 700px) {
    .description {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }