form {
    text-align: start;
    margin-left: 120px;
}

@media (max-width: 850px) {
    form {
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    form {
        margin-left: 120px;
    }
}
legend {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
.myName {
    font-size: 20px;
    font-weight: 700;
    /* font-family: var(--font-family-presentation) !important; */
}

.contactMeH2 {
    padding-top: 50px;
}
.section{
    background-color: var(--gray);
    height: 90vh;
    margin-left: 60px;
    border-left-style: solid;
    border-left-color: var(--black);
    border-right-style: solid;
    border-right-color: var(--black);
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .section {
        border-top-style: solid;
        border-top-color: var(--black);
        border-top-width: 50px;
        margin-left: 0;
        margin: auto 1px;
    }
}

.flexHeaderFooter {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
}
.flexHeaderFooter img {
    margin: 20px 0 0 30px;
}
.flexHeaderFooter h2 {
    margin-left: -100px;
    margin-bottom: 80px;
}
.contentFlex {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 600px) {
    .contentFlex {
        display: grid;
    }
    .flexHeaderFooter h2 {
        margin-bottom: 110px;
    }
}
.image {
    flex: 30%;
    border-right-style: solid;
    border-right-color: var(--yellow);
    border-right-width: 3px;
    padding-right: 20px;
}
/* .lineContactMe {
    width: 3px;
    background-color: var(--yellow);
    margin-top: -20px;
} */
.data {
    margin-left: -50px;
    flex: 30%;
    margin-top: -55px; 
}

@media (max-width: 1050px) {
    .section {
        margin-bottom: 0;
        height: 100vh;
    }
}


@media (max-width: 850px) {
    .image {
        border-style: none;
    }
    .image img {
        padding-right: 0;
        width: 70%;
        margin-top: 50px;
    }
    .data {
        flex: 10%;
        font-size: 14px;
    }
    .flexHeaderFooter img {
        /* width: 2% !important; */
    }
    /* .contentFlex {
        flex-wrap: nowrap;
        display: grid !important;
    } */
}

@media (max-width: 600px) {
    .image {
        height: fit-content;
    }
    .image img {
        display: none;
    }
    .data .dataNameNumberEmail{
        margin-left: 15%;
    }
}

.phoneEmail {
    margin: 0;
}

.phoneEmail:last-child {
    margin-bottom: 30px;
}

.label {
    display: block
}

/* .nameEmail .inputData {
    width: 90%;
} */

.inputData {
    width: 90%;
    max-width: 400px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .inputData {
        height: 30px;
    }
}
.nameEmail {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 100%;
}
.containerInputSubmit {
    width: 100%;
}
.inputSubmit {
    width: 90%;
    height: 40px;
    background-color: var(--blue);
    max-width: 400px;
    color: var(--white);
    text-transform: uppercase;
    border-style: none;
}

.inputSubmit:hover {
    cursor: pointer;
    background-color: #07244e;
}
