.contactMeH2 {
    padding-top: 50px;
}
.section{
    background-color: var(--gray);
    height: 90vh;
    margin-left: 60px;
    border-left-style: solid;
    border-left-color: var(--black);
    border-right-style: solid;
    border-right-color: var(--black);
    margin-bottom: 30px;
}
.flexHeaderFooter {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
}
.flexHeaderFooter img {
    margin: 20px 0 0 30px;
}
.flexHeaderFooter h2 {
    margin-left: -100px;
    margin-bottom: 80px;
}
.contentFlex {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex: 30%;
    border-right-style: solid;
    border-right-color: var(--yellow);
    border-right-width: 3px;
    padding-right: 20px;
}
/* .lineContactMe {
    width: 3px;
    background-color: var(--yellow);
    margin-top: -20px;
} */
.data {
    flex: 30%;
    margin-top: -30px; 
}

.label {
    display: block
}

.inputData {
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
}