.div {
    color: white;
    width: 65%;
    background-color: rgba(23, 201, 255, 0.897);
    margin-left: 120px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@media (max-width: 900px) {
    .div {
        margin-left: 0;
        width: 70%;
    }
}
@media (max-width: 600px) {
    .div {
        margin-left: 120px;
        width: 70%;
    }
}
@media (max-width: 400px) {
    .div {
        margin-left: 90px;
        width: 70%;
    }
}