section {
    height: 100vh;
}
p, h2 {
    font-family: var(--font);
}
@media (max-width: 700px) {
    p, span {
        font-size: 14px;
    }
    h2 {
        font-size: 20px;
    }
}
.flexSection {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--gray);
    width: 80%;
    margin: 0 auto 0 12%;
    border-radius: 10px;
    gap: 30px;
}

@media (max-width: 400px) {
    .flexSection {
        width: 95% !important;
        margin: auto 1px;
        margin-left: 7.5px !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 900px) {
    .flexSection {
        grid-template-columns: 1fr .1fr 1fr;
        margin-left: 80px;
        width: 85%;
    }
}
@media (max-width: 700px) {
    .flexSection {
        display: flex;
        flex-direction: column;
        height: 75vh;
    }
}
@media (max-width: 600px) {
    .flexSection {
        margin-left: 35px;

    }
}

.whoAmI {
    margin-left: 60px;
}

.doIt {
    text-decoration-color: var(--yellow);
    color: #244980;
    font-weight: 700;
}
.doIt:hover {
    color: var(--blue);
}
@media (max-width: 700px) {
    .whoAmI {
        margin: 0 20px 0 20px;
    }
    .whoAmI p {
        text-align: justify;
        margin-bottom: 0;
    }
}
.line {
    height: 80%;
    width: 3px;
    background-color: var(--yellow);
    margin-left: 60%;
    margin-top: 35px;
}
@media (max-width: 700px) {
    .line {
        display: none;
    }
}
.flexTechnologies {
    display: flex;
    justify-content: flex-start;
}
.flexTechnologies ul {
    justify-content: flex-start;
}
@media (max-width: 700px) {
    .flexTechnologies {
        justify-content: center !important;
    }
}
.technologies p {
    text-align: start;
}
.technologies h2 {
    text-align: start;
    margin-left: 30px;
}
@media (max-width: 700px) {
    .technologies h2,
    .technologies p {
        text-align: center;
    }
    .technologies h2 {
        margin-top: 0;
        margin-left: 0;
    }
}
.ul {
    list-style: none;
}
.ul:first-child {
    margin-left: 0;
    padding-left: 0;
}
.flexIcon {
    display: flex;
}
.iconSize {
    width: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}
@media (max-width: 400px) {
    .iconSize {
        width: 22px;
        margin-bottom: 6px;
        margin-right: 5px;
    }
}

.expressMargin {
    margin-bottom: 20px;
}
.containerLogo {
    width: 100%;
    /* position: fixed; */
    background-color: var(--black);
    /* margin-left: 65px; */
}
.logo {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 35%;
    max-width: 400px;
    margin-left: 10%;
}
@media (max-width: 700px) {
    .logo {
        margin-bottom: 5px;
        margin-top: 50px;
    }
}

.showMobile {
    display: none;
}

@media (max-width: 700px) {
    .hideMobile {
        display: none;
    }
    .showMobile {
        display: flex;
    }
}
