/* @keyframes slidein {
  from {background-color: red;}
  to {background-color: yellow;}
  
} */

.flexNameImage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-presentation);
  font-size: 60px;
  text-align: initial;
}

.flexNameImage .name {
  width: 500px;
  margin-left: 50px;
}

.flexNameImage p {
  margin: 20px 0 20px 50px;
}

.positionButton {
  display: flex;
  justify-content: space-between;
  background-color: #082C63;
}


