.navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    height: 100vh;
    width: 60px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btnAndOptions {
    width: 100%;
    background-color: var(--blue);
    font-size: 12px;
}
.containerOptions {
    background-color: var(--gray);
    border-bottom-style: solid;
    border-bottom-color: blanchedalmond;
    
}
.options {
    text-decoration: none;
    font-family: var(--font);
    color: var(--white);
}
.options p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.firstContainer {
    padding-top: 10px !important;
    padding-bottom: 10px !important; 
}
.options:hover p {
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
}

.hide {
    display: none;
}

.navbarIcons {
    margin-bottom: 10px;
}

.btnCv {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--blue);
    border-style: none;
}

.btnCv:hover,
.active {
    background-color: var(--yellow);
    cursor: pointer;
}

.btnCv hr {
    width: 25px;
    height: 2px;
    background-color: var(--white);
}
.btnCv:hover hr,
.active hr {
    background-color: var(--black);
    border-color: var(--black);
}

.iconsContact {
    margin: 10px;
    margin-top: 20px;
    width: 35px;
}